@import url(https://fonts.bunny.net/css?family=abeezee:400);

:root {
    --width: 25vw;
    --height: 60vh;
    /*Display width is the bottleneck here. all other variables depend on it. */
    --display-width: calc(var(--width) - 4vw);
    --display-height: calc(var(--height) / 5);
    --display-margin: calc((var(--width) - var(--display-width)) / 2);
    --button-gap: calc(var(--display-width) / 10 / 3);
    --button-width: calc(
        (var(--display-width) - (var(--display-width) / 10)) / 4
    );

    --calculator-background-color: #393e46;
    --calculator-border-color: #2c3333;
    --button-color: #e79e4f;
    --display-screen-color: #1597bb;
    --display-screen-alternate-color: #4b5d67;
    --display-screen-third-color: #a3c7d6;
    --main-font: "ABeeZee", sans-serif;
}

html {
    height: 100vh;
}

body {
    background-color: #8bc6ec;
    background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
    margin: 0;
    padding: 0;
}

.calculator-mainframe {
    background-color: var(--calculator-background-color);
    border: 5px solid var(--calculator-border-color);
    border-radius: 15px;
    width: var(--width);
    height: var(--height);
    margin-left: calc((100vw - var(--width)) / 2);
    margin-top: calc((100vh - var(--height)) / 2);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.display {
    background-color: var(--display-screen-third-color);
    border-radius: 12px;
    /*border: 1px solid green;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-left: var(--display-margin);
    width: var(--display-width);
    height: var(--display-height);
}

.display-top,
.display-bottom {
    /*border: 1px solid blue;*/
    height: calc(var(--display-height) / 2);
    width: calc(var(--display-width) / 5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.row {
    width: var(--display-width);
    margin-left: var(--display-margin);
    display: flex;
    align-items: center;
    gap: var(--button-gap);
}

.button {
    font-family: var(--main-font);
    background-color: var(--button-color);
    border-color: var(--button-color);
    width: var(--button-width);
    border-radius: 15px;
    border: 1px solid transparent;
    font-size: 20px;
    text-align: center;
    padding: 5px 12px;
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
        0 17px 50px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.1);
    transition: 0.07s;
}

button:active {
    transform: translateY(4px);
    filter: brightness(85%);
    transition: 0.07s;
}

#evaluate {
    width: calc(var(--button-width) * 2 + var(--button-gap));
}

.display-top,
.display-bottom > .text {
    font-family: var(--main-font);
    margin: 0;
    padding: 0;
    word-break: break-all;
    font-size: 32px;
}
